@model IEnumerable<AlunoViewModel>

@{
    ViewData["Title"] = "Alunos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Cadastrar">Cadastrar novo aluno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.ActionLink("Exibir Detalhes do aluno", "Detalhes", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
