@page "/Alunos"
@inject AlunoAPI alunoAPI

<h3>Alunos</h3>

@if (alunos is null)
{
    <p>Carregando...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome completo</th>
                <th>Data de Nascimento</th>
                <th>Endereço</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>CEP</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in alunos)
            {
                <tr>
                    <td>@aluno.Nome @aluno.Sobrenome</td>
                    <td>@aluno.DataNascimento</td>
                    <td>@aluno.Endereco?.Logradouro</td>
                    <td>@aluno.Endereco?.Numero</td>
                    <td>@aluno.Endereco?.Complemento</td>
                    <td>@aluno.Endereco?.CEP</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ICollection<ReadAlunoDto>? alunos;

    protected override async Task OnInitializedAsync()
    {
        alunos = await alunoAPI.ListarAlunosAsync();
    }
}
